.containerBestSelling {
  display: flex;
  justify-content: space-around;
  padding: 60px 96px;
}

.descriptionBestSelling {
  display: flex;
  flex-direction: column;
  width: 256px;
  gap: 24px;
}

.descriptionBestSelling h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1e1e1e;
}

.descriptionBestSelling h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(30, 30, 30, 0.5);
}

.descriptionBestSelling button {
  display: flex;
  align-items: center;
  width: 168px;
  height: 51px;
  padding: 12px 24px;
  gap: 10px;
  background: #c1dcdc;
  border-radius: 8px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #1e1e1e;
  cursor: pointer;
}

.descriptionBestSelling button img {
  width: 24px;
  height: 20px;
}

.cointainerProductsBestSelling {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

a {
  text-decoration: none;
}
