.coitainerCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 59px;
  padding: 85px 96px 54px 96px;
  background: #ffffff;
}

.cointanerCardCategories {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 38px;
  text-align: center;
  text-transform: capitalize;
}

#buttonCategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  width: 147px;
  height: 51px;
  background: #ffffff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
