.cointainerAbout {
  height: 513px;
  background: #c1dcdc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cointanerCard {
  display: flex;
  height: 213px;
}

.cointainerCardAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.cointainerCardAbout img {
  width: 40px;
  height: 40px;
}

.cointainerCardAbout h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.cointainerCardAbout h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: rgba(30, 30, 30, 0.5);
}
