header {
  max-width: 100%;
  height: 120px;
  background-color: #c1dcdc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 107px;
  padding: 45px 96px;
}

header h1 {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1e1e1e;
}

nav {
  display: flex;
  flex: 1;
  gap: 48px;
}

nav a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: rgba(30, 30, 30, 0.5);
  text-decoration: none;
}

.cointainerButtonImg {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}

.customButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
