.containerInput {
  display: flex;
  justify-content: space-between;
  margin: 55px 60px 57px 68px;
}

.containerProducts h1 {
  text-align: center;
  padding-bottom: 67px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1e1e1e;
}

.containerCardProduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 139px;
  padding: 0px 123px 102px 139px;
}
